#project10{
    background-color: rgb(33, 33, 34);
    max-width: 600px;
    margin:auto;
    padding: 40px;
}
.body-p10{
    max-width: 100%;
    margin:auto;
    background-color: rgb(141, 139, 136);
    border-radius: 10px;
}
.body-p10  .header-p10{
    max-width: 100%;
}
.header-p10  h1, h4{
    width: 100%;
    text-align: center;
    padding: 30px;
}
.header-p10 h4{
    padding-top: 0;
}
.main-p10{
    text-align: center;
}
.main-p10 .displayCards{
    max-width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.displayCards .card-p10{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 60px;
    height: 60px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    box-shadow: 0px 5px 10px black;
}
.card-p10:hover{
    background-color: rgb(140, 192, 228);
    cursor: pointer;
}
.displayCards .card-p10-select {    
    background-color: rgb(140, 192, 228);

}
.main-p10 .rollBtn, .startBtn, .resetBtn{
    width: 100px;
    height: 50px;
    font-size: 25px;
    font-weight: 700;
    border-radius: 10px;
    margin: 40px;
    box-shadow: 0px 5px 10px black;
}
.main-p10 .rollBtn:hover, .startBtn:hover, .resetBtn:hover{
    background-color: aquamarine;
    cursor: pointer;
}
.main-p10 .resetBtn {
    background-color: rgb(182, 65, 89);
    font-size: 20px;
}
.main-p10 .resetBtn:hover {
    background-color: crimson;
}